<footer>
    <div class="top container-fluid py-5">
        <div class="container-lg">
            <div class="d-flex flex-column justify-content-center gap-4 flex-lg-row gap-lg-0">
                <div class="column d-flex px-0 px-lg-4">
                    <p class="mb-0 lh-sm d-flex justify-content-start align-items-end flex-column">
                        <span class="mb-2">
                            Anschrift:
                        </span>

                        <br>

                        <span>
                            Josephsplatz 8
                        </span>

                        <br>

                        <span>
                            90403 Nürnberg
                        </span>
                    </p>
                </div>

                <div class="column d-flex px-0 px-lg-4">
                    <p class="mb-0 lh-sm d-flex justify-content-center flex-column">
                        <span class="d-flex align-items-center gap-2">
                            <span class="text-white d-inline-flex">
                                <i class="ph ph-phone-call"></i>
                            </span>

                            <a href="tel: {{ homepage.contact_phone_de }}" class="link-white text-decoration-none">
                                {{ homepage.contact_phone_de }}
                            </a>
                        </span>

                        <span class="d-flex align-items-center gap-2">
                            <span class="text-white d-inline-flex">
                                <i class="ph ph-envelope"></i>
                            </span>

                            <a href="tel: {{ homepage.contact_email }}" class="link-white text-decoration-none">
                                {{ homepage.contact_email }}
                            </a>
                        </span>
                    </p>
                </div>

                <div class="column d-flex px-0 px-lg-4">
                    <p class="mb-0 lh-sm d-flex justify-content-center flex-column">
                        <span>
                            USt-IDNr.: DE452488002
                        </span>

                        <br>

                        <span>
                            Betriebshaftpflicht: GENERALI GROUP
                        </span>
                    </p>
                </div>

                <div class="column d-flex px-0 px-lg-4">
                    <div class="socials d-inline-flex align-items-center gap-3 justify-content-start">
                        {% if this.theme.facebook %}
                            <a href="{{ this.theme.facebook }}" target="_blank" class="d-inline-flex text-decoration-none">
                                <i class="ph ph-facebook-logo"></i>
{#                                    <i class="mi mi-facebook icon"></i>#}
                            </a>
                        {% endif %}

                        {% if this.theme.instagram %}
                            <a href="{{ this.theme.instagram }}" target="_blank" class="d-inline-flex text-decoration-none">
                                <i class="ph ph-instagram-logo"></i>
{#                                    <i class="mi mi-instagram icon"></i>#}
                            </a>
                        {% endif %}

                        {% if this.theme.youtube %}
                            <a href="{{ this.theme.youtube }}" target="_blank" class="d-inline-flex text-decoration-none">
                                <i class="ph ph-youtube-logo"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="back-top position-fixed bottom-0 end-0 me-5 mb-5 opacity-0">
    <a href="" class="bg-secodary-800 link-white text-decoration-none h2 mb-0 d-inline-flex align-items-center justify-content-center rounded-circle">
        <i class="ph ph-arrow-up"></i>
    </a>
</div>
